html{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1f2226;
}
body{
    margin: 0;
    padding: 0; 
}

img.sticky {
    position: sticky;
    top: 0;
    width: 50px;
    margin: 10px;
  }



.textBox{
    border-radius: 20px;
  width: auto;
  height: auto;
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: larger ;
  background-color: #242c36;
}

.textImg{
    width: 100%;
}


footer{
    background-color: black;
    grid-area: footer;
    text-align: center;
}
.footer {
    width: 100%;
    background-color: black;
    overflow: auto;
  }
  .footer a{
    float: left;
    color: #3f4142;
    text-decoration: none;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 25%;
  }

  @media only screen and (max-width:550px){
    .footer a {
        text-decoration: none;
        font-size: 17px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
      }
      .textBox{


      margin-left: 5%;
      margin-right: 5%;
      font-size: larger ;
      background-color: #242c36;
    }
  }
