html{
    margin: 0;
    padding: 0;
    color: black;
    background-color: #1f2226;
}
body{
    margin: 0;
    padding: 0; 
}

nav{
    grid-area: nav;
    background-color: #1f2226;
}
.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 33.33%;
    text-align: center;
  }
  .navbar a:hover{
    background-color: #407bd2;
  }

  main{
    color: white;
  }


  footer{
    background-color: black;
    grid-area: footer;
    text-align: center;
}
.footer {
    width: 100%;
    background-color: black;
    overflow: auto;
  }
  .footer a{
    float: left;
    color: #3f4142;
    text-decoration: none;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 25%;
  }