html{
    margin: 0px;
    padding: 0px;
    color: white;
    background-image: repeating-linear-gradient(0deg, rgb(41, 41, 41) 0px, rgb(41, 41, 41) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(41, 41, 41) 0px, rgb(41, 41, 41) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, hsl(87,0%,9%),hsl(87,0%,9%));
}
body{
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    color: black;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item p{
    font-size: 20px;
  }