html{
    margin: 0;
    padding: 0;
    color: black;
}
body{
    margin: 0;
    padding: 0; 
}
.container{
    display: grid;
    height: 180vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 0.2fr 1fr 1.5fr 0.1fr;
    grid-template-areas: 
    "main main main main"
    "nav nav nav nav"
    "content1 content1 content1 content1"
    "devlog devlog devlog devlog"
    "footer footer footer footer"
    ;
    margin: 0px;
    padding: 0px;
}
main{
    grid-area: main;
}
.parent{
    position: relative;
}
.gameImage{
  width: 100%;
  height: 700px;
  object-fit: cover;
  float: left;
  opacity: 0.5;
}
#Logo{
  height: 530px;
}
.logo{
  position: absolute;;
  text-align: center;
  right: 0%;
  left:0%;
  bottom: -600px;
}



nav{
    grid-area: nav;
    background-color: #1f2226;
}
.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 33.33%;
    text-align: center;
  }
  .navbar a:hover{
    background-color: #407bd2;
  }

#content1{
    background-color: #1f2226;
    color:white;
    grid-area: content1;
    font-size: 25px;
    text-align: center;
}    
.imgGridContainer{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
} 
.imgGrid{
  border-radius: 20px;
}

.imgGrid img{
  width: 40%;
  border-radius: 20px;
}

.gamesContainer{
  background-color: #1a1b1c;
  color: white;
  grid-area: devlog;
}
.gamesGrid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  font-weight: bold;
  font-size: larger;
}
.gamesGridContainer{
  width: 100%;
  height: auto;
}
.gamesGridContainer div{
  width: 70%;
  height: auto;
  border-radius: 20px;
  background-color: #242c36;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  
}
.gamesGridContainer div img{
  width: 80%;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.gamesGridContainer div p{
  color: white;
  padding-bottom: 10px;
}
.gamesGridContainer a:visited{
  color: white;
}
.gamesGridContainer a{
  color: white;
  text-decoration: none;
}



footer{
    background-color: black;
    grid-area: footer;
    text-align: center;
}
.footer {
    width: 100%;
    background-color: black;
    overflow: auto;
  }
  .footer a{
    float: left;
    color: #3f4142;
    text-decoration: none;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 25%;
  }



@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1.8fr 0.2fr 1fr 1.5fr 0.6fr;
        grid-template-areas: 
        "main"
        "nav"
        "content1"
        "devlog"
        "footer"
        ;
    }
    .imgGridContainer{
      display: grid;
      grid-template-columns: auto;
      align-items: center;
    } 
    .gamesGrid{
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      font-weight: bold;
      font-size: larger;
    }
    .footer a {
        text-decoration: none;
        font-size: 17px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
      }
      #Logo{
        height: 200px;
      }
      .logo{
        bottom: -500px;
      }
      .games a{
        width: 100%;
      }
}

@media only screen and (max-height:750px){
  .gameImage{
    height: 600px;
  }

  .logo{
    bottom: -450px;
  }
}

@media only screen and (max-height:750px) and (min-width:550px){
  .logo{
    bottom: -550px;
  }
}





  

  
